<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tanawat.eleccontrol">


    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".MainApplication">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.AddCommandActivity">
          </activity>
        <activity android:name=".activity.SetTimeOrSensor"
            android:theme="@style/AppTheme"
            android:label="Set Time">
        </activity>
        <activity android:name=".activity.AddToolActivity"
            android:label="Add Tools"
            >

        </activity>
        <activity android:name=".activity.AddSceneActivity"
            android:label="Add Scene"
            android:windowSoftInputMode="stateHidden"
            >

        </activity>
        <activity android:name=".activity.EditSceneActivity"
            android:label="Edit Scene"
            android:windowSoftInputMode="stateHidden"
            >

        </activity>
        <activity
            android:name=".activity.ShowEvent"
            android:theme="@android:style/Theme.Dialog"
            >
        </activity>
        <receiver android:name=".activity.AlarmReceiver" android:process=":remote" />

        <receiver android:name=".activity.CrawlAlarm" android:process=":remote" />
<service android:name=".activity.MyService"/>

    </application>


</manifest>